# ============================
# Entornos Mac OS / Generales
# ============================
.DS_Store
*.log

# ============================
# IDEs / Editores
# ============================
.vscode/
.idea/
*.swp

# ============================
# Frontend / Backend Node.js
# ============================
node_modules/
dist/
dist-ssr/
*.local

# ============================
# Backend / Agentes Python
# ============================
__pycache__/
*.py[codz]
.venv/
venv/
env/

# ============================
# Datos Singulares y Secretos
# ============================
.env
chroma_db/
